.notfound{
    display: flex;
    justify-content: center;
}
.notfound-404{
    font-size: 60px;
    font-family: "Titillium web", sans-serif;
    color: yellow;
    background-color: black;
}
p{
    font-size: 35px;
}
